@import "./mixin.scss";

.category {
  width: 100%;
  @include layout(column, center, flex-start);
  padding: 25px 20px;
  box-sizing: border-box;
  .category-title {
    @include font(15px, 400, #cfcfcf);
    text-align: center;
  }
  .category-list {
    margin: 25px 0;
    width: 100%;
    .category-list__wrapper {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        list-style: none;
      }
      .btn--categoryName {
        @include layout(row, center, space-between);
        width: 100%;
        height: 43px;
        box-sizing: border-box;
        padding-left: 3px;
        text-align: left;
        @include font(22px, 400, #383333);
        border-bottom: 1px solid #cfcfcf;
        cursor: pointer;
      }
      .contents-list__wrapper {
        @include layout(column, center, space-between);
        margin: 10px 0;
        padding: 0;
        .contents-list {
          @include layout(column, center, space-between);
          button {
            width: 364px;
            height: 37px;
            @include font(18px, 400, #383333);
            border-bottom: 1px solid #efeeee;
            box-sizing: border-box;
            text-align: left;
            padding: 0 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .logo-btn__wrapper {
    position: relative;
    bottom: 0;
    @include layout(column, flex-end, flex-end);
    width: 100%;
    .btn--logo {
      @include font(28px, 400, #383333);
    }
  }
}
