@import "./mixin.scss";

.main {
  width: 100%;
  @include layout(column, center, center);
  box-sizing: border-box;
  button {
    cursor: pointer;
  }
  // 상단
  .main__wrapper--col {
    width: 100%;

    @include layout(column, center, center);
    box-sizing: border-box;

    padding: 50px 30px 30px 30px;
    .main__wrapper-contents {
      width: 100%;
      @include layout(row, center, flex-start);
      .main__contents-name {
        @include font(18px, 400, #383333);
        margin: 0 0 3px 0;
        border: none;
        outline: none;
        width: 100%;
        &:disabled {
          background: transparent;
        }
      }
      .inputActive {
        @include font(18px, 400, #383333);
        margin: 0 10px 3px 0;
        border: none;
        outline: none;
        border-bottom: 2px solid #a0b3cc;
        width: 100%;
      }
    }
    .main__contents-link {
      @include font(13px, 400, #b4b2b2);
      margin-bottom: 20px;
      width: 100%;
      text-align: left;
    }

    // default 버튼
    .main__default-btn-wrapper {
      @include layout(column, center, center);
      width: 100%;
      .btn--default {
        background: #a0b3cc;
        @include font(18px, 400, #ffffff);
        width: 100%;
        height: 40px;
        border-radius: 15px;
      }
      .btn--default-clicked {
        @include font(22px, 400, #a0b3cc);
        margin: 25px 0;
      }
    }
  }

  // 하단
  .main__divider {
    @include font(15px, 400, #cfcfcf);
    width: 100%;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 0px;
    span {
      margin: 0 8px;
    }

    &::before,
    &::after {
      // background: transparent;
      content: "";
      flex-grow: 1;
      background: #cfcfcf;
      height: 1px;
      font-size: 0px;
      line-height: 0px;
      margin: 0px;
    }
  }

  .main__category-wrapper {
    width: 100%;
    padding: 20px 30px 0 30px;
    box-sizing: border-box;
    .main__category {
      p {
        @include font(22px, 400, #383333);
        margin: 10px 0;
        width: 100%;
        text-align: left;
      }
      .main__category-divider {
        color: #cfcfcf;
      }
      img {
        margin-left: 7px;
      }
    }
  }
  // 카테고리 추가
  .main__add-category {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    .input--add-category {
      width: 100%;
      border: none;
      outline: none;
      margin: 10px 0;
      @include font(22px, 400, #383333);
      border-bottom: 2px solid #a0b3cc;
    }
    .btn--add-category {
      @include font(22px, 400, #a0b3cc);
      margin: 10px 0;
    }
  }
  .logo-btn__wrapper {
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    padding-right: 30px;
    @include layout(column, flex-end, flex-end);
    width: 100%;
    .btn--logo {
      @include font(28px, 400, #383333);
    }
  }
}
